#header{
    display: flex;
    align-content: center;
    justify-content: center;
}

nav{
    display: flex;
    align-items: left;
    justify-content : space-between;
    background:hwb(0 100% 0%);
    padding: 2x 10px;
    box-shadow: 0 5px 15 px rgba(hwb(0 100% 0%), green, blue, alpha);
}

a{
    padding-top: 10px;
}

#navbar{
    display: flex;
    align-content: center;
    justify-content: center;
}

#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a{
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 600;
    color:hsl(0, 5%, 4%);
    transition: 0.3s ease-in-out;
}

#navbar li a:hover{
    color:rgb(27, 27, 110)
}

#navbar li a:hover::after
{
    content:"";
    width: 50px;
    height: 2px;
    background:rgb(6, 6, 98);
    position: absolute;
    bottom: -4px;
    left: 20px;
}

div.menu{
    position: relative;
  left: -30px;
  right: 30px;
  border: 3px solid hsl(0, 0%, 100%);
}

